  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

.header-blue {
    background: linear-gradient(135deg, #fe2929, #ffb3c5);
    background-color: #184e8e;
    padding-bottom: 80px;
    font-family: 'Source Sans Pro', sans-serif
}

.navbar{
     background: linear-gradient(135deg, #fe2929, #ffb3c5);
    background-color: #184e8e;

   font-family: 'Poppins', sans-serif; 
}

.navbar-brand h1{
    font-size: 50px;
    color: white;
}
.navbar-brand h1:hover{
    font-size: 50px;
    color: black;
}

.navbar-nav .nav-link{
    font-size: 25px;
}
body{

     background: linear-gradient(135deg, #fe2929, #ffb3c5);
    background-color: #184e8e;
    padding-bottom: 80px;
    font-family: 'Poppins', sans-serif; 
}
@media (min-width:768px) {
    .header-blue {
        padding-bottom: 120px
    }
}

.header-blue .action-button,
.header-blue .action-button:not(.disabled):active {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 40px;
    color: #fff;
    box-shadow: none;
    text-shadow: none;
    padding: .3rem .8rem;
    background: transparent;
    transition: background-color 0.25s;
    outline: none
}

.header-blue .action-button:hover {
    color: #fff
}

.header-blue .navbar .form-inline label {
    color: #d9d9d9
}

.header-blue .navbar .form-inline .search-field {
    display: inline-block;
    width: 80%;
    background: none;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    color: #fff;
    box-shadow: none;
    color: inherit;
    transition: border-bottom-color 0.3s
}

.header-blue .navbar .form-inline .search-field:focus {
    border-bottom: 1px solid #ccc
}

.header-blue .hero {
  
    text-align: center
}

@media (min-width:768px) {
    .header-blue .hero {
        text-align: left
    }
}

.header-blue .hero h1 {
    color: #fff;
   
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 300;
    line-height: 1.4
}

@media (min-width:992px) {
    .header-blue .hero h1 {
        margin-top: 190px;
        margin-bottom: 24px;
        line-height: 1.2
    }
}

.header-blue .hero p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 300
    font-family: 'Poppins', sans-serif; 
}

.header-blue .phone-holder {
    text-align: right
}

.header-blue div.iphone-mockup {
    position: relative;
    max-width: 300px;
    margin-top: 172px;
    display: inline-block
}

.header-blue .iphone-mockup img.device {
    width: 100%;
    height: auto
}

.header-blue .iphone-mockup .screen {
    position: absolute;
    width: 88%;
    height: 77%;
    top: 12%;
    border-radius: 2px;
    left: 6%;
    border: 1px solid #444;
    background-color: #aaa;
    overflow: hidden;
    background: url(../../assets/img/screen-content-iphone-6.jpg);
    background-size: cover;
    background-position: center
}

.header-blue .iphone-mockup .screen:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 70%;
    height: 140%;
    top: -12%;
    right: -60%;
    transform: rotate(-19deg);
    opacity: 0.2
}

 /*button*/

 .subbut {
               display: flex;
              justify-content: center;
              align-items: center;
              margin-bottom: 15px;

            }
 .subbut a {

  background-color: rgba(219, 87, 51, 1);
  color: rgba(255, 255, 255, 1);
margin: -1000px -100px;
  text-decoration: none;

  padding: 4px;
  border-radius: 8px;
  box-shadow: 0 9px 0 rgba(219, 31, 5, 1),0px 9px 25px rgba(0, 0, 0, .7);
  width: 160px;
  
}
a:active {
  box-shadow: 0 3px 0 rgba(219, 31, 5, 1),0px 3px 6px rgba(0, 0, 0, .7);
  position: relative;
  top: 6px;
}

/*Certification*/
.h1{
     font-family: 'Poppins', sans-serif; 
}
.fw-normal {
    
     font-size: 20px;
}
